.aboutme {
  @include outer-container;
  padding: 50px;
  .rocket {
    svg {
      position: relative;
      -webkit-transition: 1.5s;
      height: 400px;
      width: 100%;
      margin-top: -120px;
      -webkit-animation: flying 2s infinite;
      path:nth-child(1), path:nth-child(2) {
        opacity: 1;
        -webkit-transition: 2s;
        -webkit-animation: flames 5s infinite;
      }
    }
    

    @-webkit-keyframes flying {
      0% {
        transform: translateY(0px);
      }
      50% {
        transform: translateY(-15px);
      }
      100% {
        transform: translateY(0px);
      }
    }

    @-webkit-keyframes flames {
      0% {
        transform: rotateX(0deg);
      }
      
      50% {
        transform: rotateX(8deg);
      }
      
      100% {
        transform: rotateX(0deg);
      }
    }
  }
  .aboutcontent {
    h3 {
      text-align: center;
      font-size: 2.5em;
      text-transform: capitalize;
      margin-bottom: 10px;
    }
    h5 {
      text-align: center;
      font-size: 1.3em;
      font-family: $paragraph-font;
    }
    p {
      font-size: 1.2em;
      max-width: 800px;
      width: 100%;
      padding: 25px 0;
      margin: 0px auto;
    }
  }
}