.aboutme {
  @include outer-container;
  max-width: 100% !important;
  padding: 50px;
  @include background(linear-gradient($darkest, $dark-gray) left repeat);
  .rocket {
    svg {
      position: relative;
      @include transition(all 1.5s ease-in-out);
      height: 400px;
      width: 100%;
      margin-top: -120px;
      @include animation(flying 2.0s infinite);
      path:nth-child(1), path:nth-child(2) {
        opacity: 1;
        @include transition(all 2.0s ease-in-out);
        @include animation(flames 5.0s infinite);
      }
    }
    

    @-webkit-keyframes flying {
      0% {
        @include transform(translateY(0px));
      }
      50% {
        @include transform(translateY(-15px));
      }
      100% {
        @include transform(translateY(0px));
      }
    }

    @keyframes flying {
      0% {
        @include transform(translateY(0px));
      }
      50% {
        @include transform(translateY(-15px));
      }
      100% {
        @include transform(translateY(0px));
      }
    }

    @-webkit-keyframes flames {
      0% {
        @include transform(rotateX(0deg));
      }
      
      50% {
        @include transform(rotateX(8deg));
      }
      
      100% {
        @include transform(rotateX(0deg));
      }
    }

    @keyframes flames {
      0% {
        @include transform(rotateX(0deg));
      }
      
      50% {
        @include transform(rotateX(8deg));
      }
      
      100% {
        @include transform(rotateX(0deg));
      }
    }
  }
  .aboutcontent {
    color: $lightblue;
    h3 {
      text-align: center;
      font-size: 2.5em;
      text-transform: capitalize;
      margin-bottom: 10px;
    }
    h5 {
      text-align: center;
      font-size: 1.3em;
      font-family: $paragraph-font;
    }
    p {
      font-size: 1.1em;
      max-width: 800px;
      width: 100%;
      padding: 25px 0;
      margin: 0px auto;
    }
  }
}