.contactsection {
  @include outer-container;
  @include pad(40px 30px);
  strong {
  	font-size: 1.5em;
  }
  .formcontain {
    margin: 0px auto;
    max-width: 400px;
    p {
    	font-size: 1.3em;
    }
  }
}

.hidden {
	display: none;
}