
p {
	font-family: $paragraph-font;
	font-weight: 400;
}

#main {
    @include outer-container;
    @include pad;
}

$navigation-height: 87px;

.content {
	padding-top: $navigation-height;
	background-color: #242F37;
}


.hero {  
  
///////////////////////////////////////////////////////////////////////////////////
  $base-border-radius: 3px !default;
  $base-accent-color: #7D4F7D !default;
  $large-screen: em(860) !default;
  
//////////////////////////////////////////////////////////////////////////////////

  $hero-background-top: #7F99BE; 
  $hero-background-bottom: #20392B;
  $hero-color: #fff;
  $gradient-angle: 10deg;
  //$hero-image: 'https:raw.githubusercontent.com/thoughtbot/refills/master/source/images/mountains.png';

  //@include background(url($hero-image), linear-gradient($gradient-angle, $hero-background-bottom, $hero-background-top), no-repeat $hero-background-top scroll);
  background-color: $darkblue;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  //padding-bottom: 3em;

  .hero-logo img {
    height: 7em;
	border-radius: 100px;
  }

  .hero-inner {
    @include outer-container;
    @include clearfix;
    color: $hero-color;
    margin: auto;
    padding: 3em;
    text-align: center;

    .hero-copy {
      text-align: center;
      
      h1 {
        font-size: 1.6em;
        margin-bottom: 0.1em;

        @include media($large-screen) {
          font-size: 2.8em;
        }
      }

      p {
        font-weight: 200;
        line-height: 1.4em;
        font-size: 1.3em;
        margin: 0 auto 1em auto; 

        @include media($large-screen) {
          font-size: 1.7em;
		  max-width: 60%;
        }
      }
    }

    button {
      @include button(flat, $base-accent-color);
      padding: 0.7em 1em;
    }
  }
}


//Work section

/*.work {
	padding-bottom: 130px;
	@include outer-container;
	width: 100%;
	.work-inner {
		.work-image {
			display: inline;
			img {
				@include span-columns(4);
				width: 33.33%;
			}
		}
	}
}*/

.work-grid {
  list-style: none;
  padding: 20px 0;
  margin: 0 auto;
  text-align: center;
  width: 100%;
  li {
    display: inline-block;
    margin: 10px 5px 0 5px;
    vertical-align: top;
    height: 250px;
    > a {
      border: none;
      outline: none;
      display: block;
      position: relative;
      img {
        border: none;
        outline: none;
        display: block;
        position: relative;
      }
    }
    &.work-expanded > a::after {
      top: auto;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
      border-bottom-color: $yellow;
      border-width: 15px;
      left: 50%;
      margin: -20px 0 0 -15px;
    }
  }
}

.work-expander {
  position: absolute;
  background: $yellow;
  top: auto;
  left: 0;
  width: 100%;
  margin-top: 10px;
  text-align: left;
  height: 0;
  overflow: hidden;
}

.work-expander-inner {
  padding: 50px 30px;
  height: 100%;
}

.work-close {
  position: absolute;
  width: 40px;
  height: 40px;
  top: 20px;
  right: 20px;
  cursor: pointer;
  &::before {
    content: '';
    position: absolute;
    width: 100%;
    top: 50%;
    height: 1px;
    background: $purple;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  &::after {
    content: '';
    position: absolute;
    width: 100%;
    top: 50%;
    height: 1px;
    background: $purple;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  &:hover {
    &::before, &::after {
      background: $darkblue;
    }
  }
}

.work-fullimg {
  width: 50%;
  float: left;
  height: 100%;
  overflow: hidden;
  position: relative;
}

.work-details {
  width: 50%;
  float: left;
  height: 100%;
  overflow: hidden;
  position: relative;
  padding: 0 40px 0 20px;
}

.work-fullimg {
  text-align: center;
  img {
    display: inline-block;
    max-height: 100%;
    max-width: 100%;
  }
}

.work-details {
  h3 {
	font-size: 3em;
	padding: 10px 0 10px;
	margin-bottom: 10px;
	color: $darkblue;
  }
  p {
	font-size: 1.1em;
	line-height: 1.4em;
	color: $darkblue;
  }
  a {
    font-weight: 700;
    font-size: 16px;
    color: #333;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 10px 20px;
    border: 3px solid #333;
    display: inline-block;
    margin: 30px 0 0;
    outline: none;
    &::before {
      content: '\2192';
      display: inline-block;
      margin-right: 10px;
    }
    &:hover {
      border-color: $purple;
      color: $purple;
    }
  }
}

.work-loading {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: $purple;
  box-shadow: 0 0 1px #ccc, 15px 30px 1px #ccc, -15px 30px 1px #ccc;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -25px 0 0 -25px;
  -webkit-animation: loader 0.5s infinite ease-in-out both;
  -moz-animation: loader 0.5s infinite ease-in-out both;
  animation: loader 0.5s infinite ease-in-out both;
}

@-webkit-keyframes loader {
	0% { background: #ddd; }
	33% { background: #ccc; box-shadow: 0 0 1px #ccc, 15px 30px 1px #ccc, -15px 30px 1px #ddd; }
	66% { background: #ccc; box-shadow: 0 0 1px #ccc, 15px 30px 1px #ddd, -15px 30px 1px #ccc; }
}

@-moz-keyframes loader {
	0% { background: #ddd; }
	33% { background: #ccc; box-shadow: 0 0 1px #ccc, 15px 30px 1px #ccc, -15px 30px 1px #ddd; }
	66% { background: #ccc; box-shadow: 0 0 1px #ccc, 15px 30px 1px #ddd, -15px 30px 1px #ccc; }
}

@keyframes loader {
	0% { background: #ddd; }
	33% { background: #ccc; box-shadow: 0 0 1px #ccc, 15px 30px 1px #ccc, -15px 30px 1px #ddd; }
	66% { background: #ccc; box-shadow: 0 0 1px #ccc, 15px 30px 1px #ddd, -15px 30px 1px #ccc; }
}

@media screen and (max-width: 830px) {

	.work-expander h3 { font-size: 32px; }
	.work-expander p { font-size: 13px; }
	.work-expander a { font-size: 12px; }

}

@media screen and (max-width: 650px) {

	.work-fullimg { display: none; }
	.work-details { float: none; width: 100%; }
	
}


