p {
	font-family: $paragraph-font;
	font-weight: 400;
}

#main {
    @include outer-container;
    @include pad;
}

$navigation-height: 87px;

.content {
	padding-top: $navigation-height;
	background-color: $lightblue;
}

//for plus sign rotation
.rotated {
  transform: rotate(90deg);
  -ms-transform: rotate(90deg); /* IE 9 */
  -moz-transform: rotate(90deg); /* Firefox */
  -webkit-transform: rotate(90deg); /* Safari and Chrome */
  -o-transform: rotate(90deg); /* Opera */
}

.hero {  
  
///////////////////////////////////////////////////////////////////////////////////
  $base-border-radius: 3px !default;
  $base-accent-color: #7D4F7D !default;
  $large-screen: em(860) !default;
  
//////////////////////////////////////////////////////////////////////////////////

  $hero-background-top: #7F99BE; 
  $hero-background-bottom: #20392B;
  $hero-color: $dark-gray;
  $gradient-angle: 10deg;
  //$hero-image: 'https:raw.githubusercontent.com/thoughtbot/refills/master/source/images/mountains.png';

  //@include background(url($hero-image), linear-gradient($gradient-angle, $hero-background-bottom, $hero-background-top), no-repeat $hero-background-top scroll);
  background-color: $blue;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  //padding-bottom: 3em;

  .hero-logo img {
    height: 7em;
	  border-radius: 100px;
  }

  .hero-inner {
    @include outer-container;
    @include clearfix;
    color: $hero-color;
    margin: auto;
    padding: 3em;
    text-align: center;

    .hero-copy {
      text-align: center;
      
      h1 {
        font-size: 1.6em;
        margin-bottom: 0.1em;

        @include media($large-screen) {
          font-size: 2.8em;
        }
      }

      p {
        font-weight: 200;
        line-height: 1.4em;
        font-size: 1.3em;
        margin: 0 auto 1em auto; 

        @include media($large-screen) {
          font-size: 1.7em;
		  max-width: 60%;
        }
      }
    }

    button {
      @include button(flat, $base-accent-color);
      padding: 0.7em 1em;
    }
  }
}

.work-grid {
  list-style: none;
  padding: 40px 0;
  margin: 0 auto;
  text-align: center;
  width: 100%;
  max-width: 1300px;
  background-color: $lightblue;
  li {
    display: inline-block;
    margin: 10px 5px 0 5px;
    vertical-align: top;
    height: 250px;
    > a {
      border: none;
      outline: none;
      display: block;
      position: relative;
      .work_cir {
        display: block;
        position: relative;
        min-height: 250px;
        max-height: 250px;
        min-width: 250px;
        color: #D5FBFF;
        max-width: 250px;
        background-color: #2F3738;
        border-radius: 200px;
        .cir_text {
          position: relative;
          top: 45px;
          max-width: 200px;
          margin: 0px auto;
          h3 {
            font-size: 1.5em;
            line-height: 20px;
          }
          p {
            position: relative;
            line-height: 20px;
          }
        }
      }
      div.arrow {
        background: url("../images/thumbs/arrow.svg") no-repeat top left;
        display: block;
        text-indent: -9999px;
        width: 65px;
        position: absolute;
        height: 65px;
        bottom: 40px;
        left: 93px;
      }
      div.circle {
        background: url("../images/thumbs/circle.svg") no-repeat top left;
        display: block;
        text-indent: -9999px;
        width: 70px;
        position: absolute;
        height: 70px;
        bottom: 38px;
        left: 90px;
      }
    }
    &.work-expanded > a::after {
      top: auto;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
      border-bottom-color: $dark-gray;
      border-width: 15px;
      left: 50%;
      margin: -20px 0 0 -15px;
    }
  }
}

.work-expander {
  position: absolute;
  background: $dark-gray;
  top: auto;
  left: 0;
  width: 100%;
  margin-top: 10px;
  text-align: left;
  height: 0;
  overflow: hidden;
  max-height: 400px;
}

.work-expander-inner {
  padding: 30px 30px;
  height: 100%;
}

.work-close {
  position: absolute;
  width: 40px;
  height: 40px;
  top: 20px;
  right: 20px;
  cursor: pointer;
  z-index: 99;
  &::before {
    content: '';
    position: absolute;
    width: 100%;
    top: 50%;
    height: 1px;
    background: $lightblue;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  &::after {
    content: '';
    position: absolute;
    width: 100%;
    top: 50%;
    height: 1px;
    background: $lightblue;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  &:hover {
    &::before, &::after {
      background: #fff;
    }
  }
}

.work-fullimg {
  width: 50%;
  float: left;
  height: 100%;
  overflow: hidden;
  position: relative;
}

.work-fullimg {
  text-align: center;
  img {
    display: inline-block;
    max-height: 100%;
    max-width: 100%;
    padding: 20px;
  }
}

.work-details {
  width: 50%;
  float: left;
  height: 100%;
  overflow: hidden;
  position: relative;
  padding: 0 40px 0 20px;
    h3 {
  	font-size: 2.5em;
  	padding: 10px 0 10px;
  	margin-bottom: 10px;
  	color: $lightblue;
    }
    p {
  	font-size: 1.1em;
  	line-height: 1.4em;
  	color: $lightblue;
    }
    a {
    font-weight: 700;
    font-size: 16px;
    color: $lightblue;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 10px 20px;
    border: 3px solid $lightblue;
    display: inline-block;
    margin: 30px 0 0;
    outline: none;
    &::before {
      content: '\2192';
      display: inline-block;
      margin-right: 10px;
    }
    &:hover {
      border-color: #fff;
      color: #fff;
    }
  }
}

.work-loading {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: $dark-gray;
  box-shadow: 0 0 1px #ccc, 15px 30px 1px #ccc, -15px 30px 1px #ccc;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -25px 0 0 -25px;
  -webkit-animation: loader 0.5s infinite ease-in-out both;
  -moz-animation: loader 0.5s infinite ease-in-out both;
  animation: loader 0.5s infinite ease-in-out both;
}

@-webkit-keyframes loader {
	0% { background: #ddd; }
	33% { background: #ccc; box-shadow: 0 0 1px #ccc, 15px 30px 1px #ccc, -15px 30px 1px #ddd; }
	66% { background: #ccc; box-shadow: 0 0 1px #ccc, 15px 30px 1px #ddd, -15px 30px 1px #ccc; }
}

@-moz-keyframes loader {
	0% { background: #ddd; }
	33% { background: #ccc; box-shadow: 0 0 1px #ccc, 15px 30px 1px #ccc, -15px 30px 1px #ddd; }
	66% { background: #ccc; box-shadow: 0 0 1px #ccc, 15px 30px 1px #ddd, -15px 30px 1px #ccc; }
}

@keyframes loader {
	0% { background: #ddd; }
	33% { background: #ccc; box-shadow: 0 0 1px #ccc, 15px 30px 1px #ccc, -15px 30px 1px #ddd; }
	66% { background: #ccc; box-shadow: 0 0 1px #ccc, 15px 30px 1px #ddd, -15px 30px 1px #ccc; }
}

@media screen and (max-width: 830px) {

	.work-expander h3 { font-size: 32px; }
	.work-expander p { font-size: 13px; }
	.work-expander a { font-size: 12px; }

}

@media screen and (max-width: 650px) {

	.work-fullimg { display: none; }
	.work-details { float: none; width: 100%; }
	
}

//devskills

.devskills {
  @include size(auto auto);
  background-color: #9FBCBF;
  padding: 3% 10%;
  h3 {
    text-align: center;
    padding-top: 20px;
    font-size: 2.5em;
    text-transform: capitalize;
  }
  ul {
    @include outer-container;
    li.skill {
      position: relative;
      width: 19.52%;;
      font-family: 'devicons';
      display: inline-block;
      font-size: 5em;
      cursor: default;
      color: #2F3738;
      text-align: center;
      @include media(max-width 1122px) {
        width: 24%;
      }
      @include media(max-width 480px) {
        width: 30%;
      }
      &:hover {
        color: #fff;
      }
    }
  }
}


