header.navigation {
  ///////////////////////////////////////////////////////////////////////////////////
  $base-border-color: gainsboro !default;
  $base-border-radius: 3px !default;
  $base-accent-color: #477DCA !default;
  $dark-gray: #333 !default;
  $large-screen: em(860) !default;
  
  a {
    text-decoration: none;
  }
  //////////////////////////////////////////////////////////////////////////////////

  $navigation-padding: 1em;
  $navigation-background: $dark-gray;
  $navigation-color: $lightblue;
  $navigation-color-hover: #fff;
  $navigation-height: 60px;
  $navigation-nav-button-background: $base-accent-color;
  $navigation-nav-button-background-hover: lighten($navigation-background, 10%);
  $navigation-nav-button-border: 1px solid lighten($navigation-nav-button-background, 20%);
  $navigation-active-link-color: transparentize(white, 0.5);
  $horizontal-bar-mode: $large-screen;

  background-color: $navigation-background;
  min-height: $navigation-height;
  width: 100%;
  z-index: 999;
  position: fixed;
  box-shadow: 0 5px $darkest;

  .navigation-wrapper {
    @include clearfix;
    width: 100%;
    position: relative;
    z-index: 9999;
    padding: .9em;
    .socialnav {
      float: right;
      margin-right: 20px;
      @include media(max-width 360px) {
        margin-right: 0;
      }
      li.nav-link {
        display: inline-block;
        margin: .65em;
        @include media(max-width 360px) {
          margin: .65em .25em;
        }
        img, svg {
          width: 40px;
          height: 40px;
        }
      }
    }
  }

  .logo {
    float: left;
    img, svg {
      width: 115px;
      height: 65px;
      display: block;
    }
  }  
}


$navigation-height: 100px;

.content {
  padding-top: $navigation-height;
  background-image: url('../../images/pattern.svg');
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.hero {  
  
///////////////////////////////////////////////////////////////////////////////////
  $base-border-radius: 3px !default;
  $base-accent-color: #7D4F7D !default;
  $large-screen: em(860) !default;
  
//////////////////////////////////////////////////////////////////////////////////

  $hero-background-top: #7F99BE; 
  $hero-background-bottom: #20392B;
  $hero-color: $dark-gray;
  $gradient-angle: 10deg;

  .hero-logo img {
    height: 7em;
    border-radius: 100px;
    border: 3px solid $dark-gray;
  }

  .hero-inner {
    @include outer-container;
    @include clearfix;
    color: $dark-gray;
    margin: auto;
    padding: 3em;
    text-align: center;
    position: relative;

    .hero-copy {
      text-align: center;
      
      h1 {
        font-size: 1.6em;
        margin-bottom: 0.1em;

        @include media($large-screen) {
          font-size: 2.8em;
        }
      }

      p {
        font-weight: 200;
        line-height: 1.4em;
        font-size: 1.3em;
        margin: 0 auto 1em auto; 

        @include media($large-screen) {
          font-size: 1.5em;
          max-width: 60%;
        }
      }
    }

    button {
      @include button(flat, $base-accent-color);
      padding: 0.7em 1em;
    }
  }
}


