//devskills

.devskills {
  @include background(linear-gradient($lightblue, $blue) left repeat);
  padding: 3% 10%;
  h3 {
    text-align: center;
    padding-top: 20px;
    font-size: 2.5em;
    text-transform: capitalize;
  }
  ul {
    @include display(flex);
    @include justify-content(center);
    @include flex-wrap(wrap);
    li.skill {
      font-family: 'devicons';
      font-size: 5em;
      margin: 20px;
      cursor: default;
      color: #2F3738;
      &:hover {
        color: #fff;
      }
    }
  }
}

.tooltip {
    background: $dark-gray;
    border-radius: 20px;
    color: $lightblue;
    position:absolute;
    padding: 10px 20px;
    margin-top: 20px;
    font-family: $paragraph-font;
}
.tooltip:before,
.tooltip:after {
    content:'';
    border-style:solid;
    border-width:6px 6px 0;
    position:absolute;
    top:100%;
    left:50%;
}
.tooltip:before {
    border-color: $dark-gray transparent transparent;
}
.tooltip:after {
    border-color: $dark-gray transparent transparent;
}