%section.row.bc-knight
  .cell.well.well--m
    .label.tac
      Inspect my site’s source code on
      #{link_to 'Github', 'http://github.com/louisnovick/louisnovick.com', target: '_blank', class: 'link link--bordered'}

%footer{:class => "row bci", :role => "contentinfo"}
  .cell
    .well.well--s.well--m--m
      .split.split--center
        .split-cell
          = link_to '/assets/images/NovickLouisResume2015_v2.pdf', target: '_blank' do
            Resume
          .tci
            %span &copy; Louis Novick 2015

        .split-cell
          %a{:href => "http://www.twitter.com/louisnovick", :target => "_blank"}
            %img{:alt => "Twitter", :src => "/assets/images/twitter.svg", :class => "mrs icon-small"}
          %a{:href => "http://github.com/louisnovick", :target => "_blank"}
            %img{:alt => "Github", :src => "/assets/images/github.svg", :class => "mrs icon-small"}
          %a{:href => "http://dribbble.com/louisnovick", :target => "_blank"}
            %img{:alt => "Dribbble", :src => "/assets/images/dribbble.svg", :class => "icon-small"}




