%footer.footer{:role => "contentinfo"}
  %ul.left-links
    %li
      %a{:href => "../../images/Resume2015.pdf", :target => "_blank"}
        Resume
  .footer-secondary-links
    &copy; Louis Novick 2015


