%section.row.bc-knight
  .cell.well.well--m
    .label.tac
      Check out my site’s source code on
      #{link_to 'Github', 'http://github.com/louisnovick/louisnovick.com', target: '_blank', class: 'link link--bordered'}

%footer{:class => "row bci", :role => "contentinfo"}
  .cell
    .well.well--s.well--m--m
      .split.split--center
        .split-cell
          = link_to '/assets/images/Resume2015.pdf', target: '_blank' do
            Resume
          .tci
            %span &copy; Louis Novick 2015

        .split-cell



