%footer.footer{:role => "contentinfo"}
  %ul.left-links
    %li
      %a{:href => "../../images/Resume2015.pdf", :target => "_blank"}
        Resume
  .footer-secondary-links
    &copy; Louis Novick 2015
    %ul.footer-social
      %li.nav-link
        %a{:href => "http://www.twitter.com/louisnovick", :target => "_blank"} 
          %img{:alt => "Twitter", :src => "../../images/thumbs/twitter.svg\n", :class => "svg-inject"}/
      %li.nav-link
        %a{:href => "http://www.github.com/louisnovick", :target => "_blank"} 
          %img{:alt => "Github", :src => "../../images/thumbs/github.svg\n", :class => "svg-inject"}/
      %li.nav-link
        %a{:href => "http://www.dribbble.com/louisnovick", :target => "_blank"} 
          %img{:alt => "Dribbble", :src => "../../images/thumbs/dribbble.svg\n", :class => "svg-inject"}/

