%footer.footer{:role => "contentinfo"}
  %ul
    %li
      %a{:href => "#work-grid"} Work
  .footer-secondary-links
    &copy; Louis Novick 2015
    %ul.footer-social
      %li
        %a{:href => "http://www.twitter.com/louisnovick", :target => "_blank"}
          %img{:alt => "Twitter", :src => "https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/twitter-logo-circle.png"}

= javascript_include_tag '//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js'
= javascript_include_tag '//cdn.jsdelivr.net/jquery.slick/1.4.1/slick.min.js'
= javascript_include_tag 'all'
:javascript
  $(function() {
    Grid.init();
  });