%head
  :javascript
    var host = "louisnovick.com";
    if ((host == window.location.host) && (window.location.protocol != "https:"))
        window.location.protocol = "https";
  %meta{:charset => "utf-8"}
  %meta{:content => "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}
  %meta{ name: 'viewport', content: 'width=device-width, initial-scale=1.0' }
  %title= page_title
  %meta{ name: 'description', content: escape_html( current_page.data.description ) }
  = stylesheet_link_tag "application"
  %link{:rel => "canonical", href => "https://louisnovick.com#{current_page.url}"}
  %link{:rel => "icon", :href => "favicon.ico", :type => "image/x-icon"}
  :javascript
    (function() {
    var config = {
      kitId: 'foo5epb',
      scriptTimeout: 3000
    };
    var h = document.getElementsByTagName('html')[0];
    h.className += ' wf-loading';
    var t = setTimeout(function() {
      h.className = h.className.replace(/(\s|^)wf-loading(\s|$)/g, ' ');
      h.className += ' wf-inactive';
    }, config.scriptTimeout);
    var d = false;
    var tk = document.createElement('script');
    tk.src = '//use.typekit.net/' + config.kitId + '.js';
    tk.type = 'text/javascript';
    tk.async = 'true';
    tk.onload = tk.onreadystatechange = function() {
      var rs = this.readyState;
      if (d || rs && rs != 'complete' && rs != 'loaded') return;
      d = true;
      clearTimeout(t);
      try { Typekit.load(config); } catch (e) {}
    };
      var s = document.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(tk, s);
    })();




