%header{:class => "row bc-knight", :role => "banner"}
	.well.well--s.well--m--m
		.split.split--center
			.split-cell
				= link_to '/index.html' do 	
					= image_tag 'logo.svg', alt: 'Louis Novick Web Development and Design', class: 'icon'
			.split-cell
				%p.mbf.tci.tss
					Built with
					%a.link.link--bordered.link--inverted{:href => "http://mvcss.io", :target => "_blank"} MVCSS
					and
					%a.link.link--bordered.link--inverted{:href => "https://middlemanapp.com/", :target => "_blank"} Middleman
			




