.hero-main#top
	.hero
		.hero-inner
			.hero-logo{:href => ""}
				%a{:href => "/", :title => "Home"}
					%img{:alt => "Louis Novick Web Development", :src => "../../images/louis.jpg\n"}/
			.hero-copy
				%h1
					Louis Novick
				%p 
					Web Developer, Designer, Student