%header.navigation{:role => "banner"}
	.navigation-wrapper
		%a.logo{:href => "/"} 	
			%img{:alt => "Louis Novick Web Development and Design", :src => "../../images/logo.svg\n"}/
		%nav{:role => "navigation"}
			%ul.socialnav
				%li.nav-link
					%a{:href => "http://www.twitter.com/louisnovick", :target => "_blank"} 
						%img{:alt => "Twitter", :src => "../../images/thumbs/twitter.svg\n", :onerror => "this.src='twitter.png'"}/
				%li.nav-link
					%a{:href => "http://www.github.com/louisnovick", :target => "_blank"} 
						%img{:alt => "Github", :src => "../../images/thumbs/github.svg\n"}/
				%li.nav-link
					%a{:href => "http://www.dribbble.com/louisnovick", :target => "_blank"} 
						%img{:alt => "Dribbble", :src => "../../images/thumbs/dribbble.svg\n"}/
.content#top
	.clouds
	.hero
		.hero-inner
			.hero-logo{:href => ""}
				%a{:href => "/", :title => "Home"}
					%img{:alt => "Louis Novick Web Development", :src => "../../images/louis.jpg\n"}/
			.hero-copy
				%h1
					Louis Novick
				%p 
					Front-End Developer, Designer, Student