.devskills#skills
	%h3 Things I have worked with
	%ul
		%li{:class => "skill", :title => "Git"}
			&#xe602;
		%li{:class => "skill", :title => "Bitbucket"}
			&#xe603;
		%li{:class => "skill", :title => "Ruby"}
			&#xe639;
		%li{:class => "skill", :title => "Ruby on Rails"}
			&#xe63b;
		%li{:class => "skill", :title => "PHP"}
			&#xe63d;
		%li{:class => "skill", :title => "mySQL"}
			&#xe604;
		%li{:class => "skill", :title => "MongoDB"}
			&#xe6a4;
		%li{:class => "skill", :title => "Google Analytics"}
			&#xe660;
		%li{:class => "skill", :title => "Heroku"}
			&#xe67b;
		%li{:class => "skill", :title => "JavaScript"}
			&#xe64e;
		%li{:class => "skill", :title => "Angular"}
			&#xe653;
		%li{:class => "skill", :title => "jQuery"}
			&#xe650;
		%li{:class => "skill", :title => "Node"}
			&#xe619;
		%li{:class => "skill", :title => "SCSS"}
			&#xe64b;
		%li{:class => "skill", :title => "CSS3"}
			&#xe649;
		%li{:class => "skill", :title => "HTML5"}
			&#xe636;
		%li{:class => "skill", :title => "Responsive Design & Development"}
			&#xe697;	
		%li{:class => "skill", :title => "Ghost"}
			&#xe61f;
		%li{:class => "skill", :title => "Wordpress"}
			&#xe60b;
		%li{:class => "skill", :title => "Grunt"}
			&#xe64c;
		%li{:class => "skill", :title => "Bower"}
			&#xe64d;
		%li{:class => "skill", :title => "Node Package Manager"}
			&#xe61e;
		%li{:class => "skill", :title => "Linux"}
			&#xe63a;
		%li{:class => "skill", :title => "Gulp"}
			&#xe663;
		%li{:class => "skill", :title => "Yeoman"}
			&#xe67a;
		%li{:class => "skill", :title => "iTerm"}
			&#xe695;
