.worksection#work
	%h3.worktitle Some of my previous work
	%ul#work-grid.work-grid
		%li
			%a{:href => "http://cpricelawfirm.com/", "data-description" => "Price Law Firm, a bankruptcy and foreclosure law firm in Orlando, Florida was in need of a new website.  I was in charge of developing the site and laying out the content based on the design provided.", "data-largesrc" => "images/price.jpg", "data-title" => "Price Law Firm"}
				.work_cir
					.cir_text
						%h3 Price Law Firm
						%p Attorneys at Law
				.circle
				.arrow
		%li
			%a{:href => "http://www.tc-tx.com/", "data-description" => "Live Oak is a community in San Marcos, Texas.  They are dedicated to offering the best care possible for adults living with cognitive disabilities and brain injury.  I was tasked with creating this site.", "data-largesrc" => "images/liveoak.jpg", "data-title" => "Live Oak Living"}
				.work_cir
					.cir_text
						%h3 Live Oak
						%p Living Communities
				.circle
				.arrow
		%li
			%a{:href => "http://bmayrlaw.com/attorney-profile/", "data-description" => "Brent Mayr, an attorney with over 15 years of experience in Criminal Law and a board certification in the field of criminal justice by the Texas Board of Legal Specialization wanted a page on his site to capture his persona.  I was responsible for developing his attorney profile.", "data-largesrc" => "images/bmayr.jpg", "data-title" => "Brent Mayr"}
				.work_cir
					.cir_text
						%h3 Brent Mayr
						%p Criminal Lawyer
				.circle
				.arrow
		%li
			%a{:href => "#", "data-description" => "Site is currently in development.", "data-largesrc" => "images/comingsoon.jpg", "data-title" => "Orlando Pub Crawl"}
				.work_cir
					.cir_text
						%h3 Orlando Pub Crawl
						%p Orlando on all Fours
				.circle
				.arrow
		%li
			%a{:href => "https://twitter.com/Empirespace", "data-description" => "For one of my class assignments I needed to develop a twitter bot that would leverage an existing API.  Using the Star Wars API, 'Swapi', I programmed a twitter bot that produces quality Content related to the planets of Star Wars.", "data-largesrc" => "images/espace.jpg", "data-title" => "Empire Space"}
				.work_cir
					.cir_text
						%h3 Empire Space
						%p Star Wars Twitter Bot
				.circle
				.arrow
		%li
			%a{:href => "http://www.goaaba.org", "data-description" => "The Greater Orlando Asian American Bar Association needed a new website.  Development goals centered around giving the association a reliable outlet to post any new information as well as welcome new members to the group.", "data-largesrc" => "images/goaaba.jpg", "data-title" => "GOAABA"}
				.work_cir
					.cir_text
						%h3 GOAABA
						%p Greater Orlando Asian American Bar Association
				.circle
				.arrow
		%li
			%a{:href => "http://www.thetagalsuperhero5krun.com/", "data-description" => "Guardian Ad Litem required an informational site promoting their Super Hero 5k run.  I created the site with every intention of providing information in the most efficient way possible.", "data-largesrc" => "images/gal.jpg", "data-title" => "Super Hero 5k"}
				.work_cir
					.cir_text
						%h3 Guardian Ad Litem
						%p Super Hero 5k
				.circle
				.arrow
		%li
			%a{:href => "http://sulley.cah.ucf.edu/~mi249120/dig4104c/p2/#/", "data-description" => "Using middleman and angular.js, I aided in the development of this dynamic application which takes the user on a journey through Darwin's journey on the HMS Beagle. <a href='https://github.com/louisnovick/Darwins-Journey' class='githublink' target='_blank'> <img alt='Github' src='../../images/thumbs/github.svg'> </a>", "data-largesrc" => "images/darwin.jpg", "data-title" => "Voyage of the HMS Beagle"}
				.work_cir
					.cir_text
						%h3 Voyage of the HMS Beagle
						%p Learn About the Famous Voyage
				.circle
				.arrow
		%li
			%a{:href => "http://cullen-hemphill.com", "data-description" => "Cullen Hemphill LLP needed a modern responsive website that presents their clients with clear and easily understandable content.  Content that users could later reference when trying to learn more about what to do in the event of an accident or being charged with a crime.  I utilized Wordpress to Develop their site and organize their content.", "data-largesrc" => "images/cullenh.jpg", "data-title" => "Cullen Hemphill LLP"}
				.work_cir
					.cir_text
						%h3 Cullen Hemphill LLP
						%p Criminal Defense/Personal Injury
				.circle
				.arrow


