// *************************************
//
//   Button
//   -> Clickable control
//      CodePen: http://codepen.io/drewbarontini/pen/yAveh
//
// -------------------------------------
//   Template (Haml)
// -------------------------------------
//
// .btn
//
// *************************************

.btn
  +action
  +font-size(( b: $btn-fontSize ))
  background: $btn-background
  border-radius: $btn-borderRadius
  color: $btn-color
  font-family: $b-fontFamily-mono
  font-weight: $b-fontWeight-normal
  letter-spacing: 2px
  line-height: $btn-height
  margin-right: $btn-pseudo-width
  padding-left: $btn-space
  padding-right: $btn-space
  position: relative
  text-transform: uppercase
  word-spacing: 0

  +state
    background: $btn--state-background
    color: $btn-color

// Modifiers

.btn--light
  background: $btn-background-light
  color: $btn-color-light

  +state
    background: $btn--state-background-light
    color: $btn-color
