---
title: Home
description: Developer. Designer. Dreamer.
---
.wrapper
	%header.main
		%h1
			%a{:href => "/"} Louis Novick
		%nav.actions
			%ul
				%li
					%a{:href => "#about"} About
				%li
					%a{:href => "#work"} Work
				%li
					%a{:href => "#blog"} Blog
				%li
					%a{:href => "#contact"} Contact
	%section.container#main
		.wrapper
			%h1 Home
		%hr

