---
title: Home
description: Developer. Designer. Dreamer.
---
.wrapper
	%header.navigation{:role => "banner"}
		.navigation-wrapper
			%a.logo{:href => "#top"} Louis Novick
			%a#js-mobile-menu.navigation-menu-button{:href => "javascript:void(0)"} MENU
			%nav{:role => "navigation"}
				%ul#js-navigation-menu.navigation-menu.show
					%li.nav-link
						%a{:href => "#work"} Work
					%li.nav-link
						%a{:href => "#blog"} Blog
					%li.nav-link
						%a{:href => "#contact"} Contact
	.content#top	
		.hero
			.hero-inner
				.hero-logo{:href => ""}
					%img{:alt => "Louis Novick Web Development", :src => "images/louis.jpg\n"}/
				.hero-copy
					%h1
						Louis Novick
					%p 
						Front-End Developer at authenticWEB, UX Enthusiast and Student
					%button 
						See My Work
		.work
			.work-slide
				%div.work-image
					%img{:alt => "Price Law Firm", :src => "images/price_logo.png\n"}/
				%div.work-image
					%img{:alt => "Live Oak Living", :src => "images/liveoak.jpg\n"}/
				%div.work-image
					%img{:alt => "Brent Mayr ASP", :src => "images/bmayr.jpg\n"}/
				%div.work-image
					%img{:alt => "Brent Mayr ASP", :src => "images/bmayr.jpg\n"}/
				%div.work-image
					%img{:alt => "Price Law Firm", :src => "images/price_logo.png\n"}/
				%div.work-image
					%img{:alt => "Price Law Firm", :src => "images/price_logo.png\n"}/
				%div.work-image
					%img{:alt => "Price Law Firm", :src => "images/price_logo.png\n"}/


