---
title: Home
description: Developer. Designer. Dreamer.
---
.wrapper
	%header.navigation{:role => "banner"}
		.navigation-wrapper
			%a.logo{:href => "#top"} Louis Novick
			%a#js-mobile-menu.navigation-menu-button{:href => "javascript:void(0)"} MENU
			%nav{:role => "navigation"}
				%ul#js-navigation-menu.navigation-menu.show
					%li.nav-link
						%a{:href => "#about"} About
					%li.nav-link
						%a{:href => "#work"} Work
					%li.nav-link
						%a{:href => "#blog"} Blog
					%li.nav-link
						%a{:href => "#contact"} Contact

